In [3]:
import numpy as np
import polars as pl
import datetime

In [21]:
def expected_df_7(library="pandas"):
    """Expected output for test_expected_output_nulls."""

    df_dict = {
        "a": [
            datetime.datetime(
                1993,
                9,
                27,
                11,
                58,
                58,
                tzinfo=datetime.timezone.utc,
            ),
            np.nan if library == "pandas" else None,
        ],
        "b": [
            np.nan if library == "pandas" else None,
            datetime.datetime(
                2019,
                12,
                25,
                11,
                58,
                58,
                tzinfo=datetime.timezone.utc,
            ),
        ],
        "D": [
            np.nan if library == "pandas" else None,
            np.nan if library == "pandas" else None,
        ],
    }

    return pl.DataFrame(df_dict)

In [23]:
def create_datediff_test_nulls_df(library="pandas"):
    """Create DataFrame with nulls only for DateDifferenceTransformer tests."""

    df_dict = {
        "a": [
            datetime.datetime(
                1993,
                9,
                27,
                11,
                58,
                58,
                tzinfo=datetime.timezone.utc,
            ),
            np.nan if library == "pandas" else None,
        ],
        "b": [
            np.nan if library == "pandas" else None,
            datetime.datetime(
                2019,
                12,
                25,
                11,
                58,
                58,
                tzinfo=datetime.timezone.utc,
            ),
        ],
    }

    return pl.DataFrame(df_dict)

In [25]:
expected_df_7(library="polars").schema

Schema([('a', Datetime(time_unit='us', time_zone='UTC')),
        ('b', Datetime(time_unit='us', time_zone='UTC')),
        ('D', Null)])

In [26]:
create_datediff_test_nulls_df(library="polars").schema

Schema([('a', Datetime(time_unit='us', time_zone='UTC')),
        ('b', Datetime(time_unit='us', time_zone='UTC'))])

In [38]:
df_dict = {
        "a": [
            datetime.datetime(
                1993,
                9,
                27,
                11,
                58,
                58,
                tzinfo=datetime.timezone.utc,
            ),
            None,
        ],
        "b": [
            None,
            datetime.datetime(
                2019,
                12,
                25,
                11,
                58,
                58,
                tzinfo=datetime.timezone.utc,
            ),
        ],
        "D": [
            np.nan,
            np.nan,
        ],
    }
pl.DataFrame(df_dict).dtypes

[Datetime(time_unit='us', time_zone='UTC'),
 Datetime(time_unit='us', time_zone='UTC'),
 Float64]

In [39]:
df = pl.DataFrame(df_dict)

In [ ]:
df.cast({"D": pl.Float64})

shape: (2, 3)
┌─────────────────────────┬─────────────────────────┬─────┐
│ a                       ┆ b                       ┆ D   │
│ ---                     ┆ ---                     ┆ --- │
│ datetime[μs, UTC]       ┆ datetime[μs, UTC]       ┆ f32 │
╞═════════════════════════╪═════════════════════════╪═════╡
│ 1993-09-27 11:58:58 UTC ┆ null                    ┆ NaN │
│ null                    ┆ 2019-12-25 11:58:58 UTC ┆ NaN │
└─────────────────────────┴─────────────────────────┴─────┘

In [43]:
df

shape: (2, 3)
┌─────────────────────────┬─────────────────────────┬─────┐
│ a                       ┆ b                       ┆ D   │
│ ---                     ┆ ---                     ┆ --- │
│ datetime[μs, UTC]       ┆ datetime[μs, UTC]       ┆ f64 │
╞═════════════════════════╪═════════════════════════╪═════╡
│ 1993-09-27 11:58:58 UTC ┆ null                    ┆ NaN │
│ null                    ┆ 2019-12-25 11:58:58 UTC ┆ NaN │
└─────────────────────────┴─────────────────────────┴─────┘